html{

}
body{
    display: grid;
    grid-template-rows: 80px 1fr 130px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: white;
    height: 100vh;
}
.btn{
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
    width: 155px;
    padding: 17px;
    border: none;
    border-radius: 30px;
    margin: 0 10px;
    color: #778B94;
    font-weight: bold;
    flex: 0 0 auto;
    text-align: center;
    text-decoration: none;
}
.primary-btn{
    background:#F9EBC4;
    transition: all 0.25s ease-out;

}
.secondary-btn{
    background:#778B94;
    color: #F9EBC4;
    transition: all 0.25s ease-out;
    width: 90px;
}
.tertiary-btn{
    background:#333333;
    transition: all 0.25s ease-out;
    color: #F9EBC4;
}
.icon-btn-ok{
    background: none;
    border: none;
    color: darkolivegreen;
    font-size: 20px;
    margin: 0 10px;
}
.icon-btn-ok:hover{
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}
.icon-btn-ko{
    background: none;
    border: none;
    color: darkred;
    font-size: 20px;
    margin: 0 10px;
}
.icon-btn-ko:hover{
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}

.primary-btn:hover {
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}
.secondary-btn:hover {
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}
.tertiary-btn:hover {
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #636363;
    text-align: center;
}
.title{
    color: #778B94;
    font-size: 30px;
}
.secondary-title{
    color:#778B94;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.tertiary-title{
    color: #778B94;
    font-size: 20px;
    text-decoration: none;
}
.tiny-text{
    margin: 0;
    font-size: small;
    color: #778B94;
    text-decoration: none;
}
.tiny-text a{
    text-decoration: none;
    color: #D22636;
}
p{
    line-height: 30px;
}
.mini-logo{
    width: 10%;
    margin: 0 auto;
}
.normal-logo{
    width: 15%;
    margin: 0 auto;
}
.logo{
    width: 20%;
    margin: 0 auto;
}
