.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fondo-wrapper{
    display: flex;
}
.fondo{
    width: 100%;
}
.logos_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campaings-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px;
}
.community-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: row;
    margin: 100px;
}
.info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}
.extra-info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    margin: 100px;
    border-top: 1px solid #4e4d4d;
}
